extends layout

block content
  // Section 1 début Texte confirmation inscription
  section.sectioninscription
    img.gif(src='https://media.giphy.com/media/14lczvKcvqCIMw/giphy.gif', alt='Gif animé de Mad Men')
    p Tes mises à jour vont rapidement être prises en compte.
    p Merci de ta visite et à tout de suite 😎
    a(href="/wilderstogether" class="btn gris") Retour à l'accueil
  // Section 1 Fin Texte confirmation inscription
