extends layout

block content
  // Section 1 début Texte confirmation insscription
  section#s1
    p
      | Ton inscription va rapidement être prise en compte.
    p Merci de ta visite et à bientôt 😉
    a(href="/" class="btn gris") Retour à l'accueil
  // Section 1 Fin Texte confirmation insscription
