extends layout

block content
  // Section 1 début Texte confirmation inscription
  section.sectioninscription
    img.gif(src='https://media.giphy.com/media/xT1R9ZEfDfzslUd0VW/giphy.gif', alt='Gif animé avec Taylor Swift')
    p Tes informations vont rapidement être prises en compte.
    p Merci de ta visite et à bientôt 😉
    a(href="/" class="btn gris") Retour à l'accueil
    a(href="/login" class="btn bleu btconnect") Se connecter
  // Section 1 Fin Texte confirmation insscription
