extends layout

block content
  // Section 1 début Texte d'accueil
  section#s1
    p
      | Tu es Wilder et tu veux te connecter à tes camarades Wilders ? Tu es au bon endroit !
    br
    p Sur ce site, tu peux t'inscrire, indiquer ta date de naissance et ton adresse.
    p
      | ✨ Une fois connecté, tu voir les dates d'anniversaire de tes camarades et lesquels sont tes voisins. ✨
  // Section 1 Fin Texte d'accueil