extends layout

block content
  // Section début Le formulaire de mise à jour des informations personnelles
  section.sectionform
    .containerform
      form#form(method="POST" enctype="multipart/form-data")
        p.required Tu veux mettre à jour quelque chose ? 
        p.required Tu peux le faire dans le formulaire ci-dessous
        .form-group
          label(for='prenom') Prénom
          input#prenom.form-control(type='text', placeholder='Prénom' name="prenom")
        .form-group 
          label(for='nom') Nom
          input#nom.form-control(type='text', placeholder='Nom' name="nom")
        .form-group
          label(for='identifiant') Identifiant
          input#email.form-control(type='email', placeholder="Email" name="email")
        .form-group
          label(for='motdepasse') Mot de passe
          input#motdepasse.form-control(type='password', placeholder='Mot de passe' name="motdepasse")
        .form-group
          label(for='naissance') Date de naissance
          input#naissance.form-control(type='date', placeholder=' ' name="naissance")
        .form-group
          label(for='adresse') Adresse
          input#adresse.form-control(type='text', placeholder="Adresse" name="adresse")
        .form-group
          label(for='codepostal') Code postal
          input#codepostal.form-control(type='text', placeholder='Code postal' name="codepostal")
        .form-group
          label(for='ville') Ville
          input#ville.form-control(type='text', placeholder='Ville' name="ville")
        p.required Pour prendre en compte ces mises à jour, merci de cliquer sur le bouton ci-dessous
        button.btn.orange(type='submit') Et voilà !
  // Section fin Le formulaire de mise à jour des informations personnelles