extends layout

block content
  // Section 1 début Texte de la page de restitution
  section#s3
    a(href="/miseajour" class="btn orange") Clique ici pour mettre à jour tes informations

  section.wilders
    p Wild birthdays (sous forme d'un calendrier dynamique même si je n'ai aucune idée de comment faire ça, encore que je peux commencer par un tri dans la bdd)

  section.wilders
    p Wild around (un truc avec une Google maps mais là aussi il va falloir chercher un peu)

  // Section 1 Fin Texte d'accueil
