extends layout

block content
  // Section 1 début Texte de la page de restitution
  section#s3
    a(href="/" class="btn orange") Clique ici pour mettre à jour tes informations

  section.wilders
    p Wild birthdays

  section.wilders
    p Wild around

  // Section 1 Fin Texte d'accueil
